<h1>New normal_example</h1>

<% form_for(@normal_example) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', normal_examples_path %>